* {
    margin: 0;
    padding: 0;
}
.box{
    margin-top: 5vh;
}
h1{
    display: flex;
    justify-content: center;
}
.opciones{
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    font-size: 20px;
}
.button{
    display: flex;
    justify-content: center;
    margin-top: 10vh;
}
p{
    display: flex;
    justify-content: center;
}
.links{
    display: flex;
    justify-content: center; 
    margin-top: 20vh;  
}
